border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments

body
  background: #fff
  color: #000
  font-family: Ubuntu, sans-serif
  margin: 0px
  overflow: hidden

.CodeMirror
  background-color: rgba(255,255,255,0.75)
  font-family: Ubuntu, sans-serif
  font-size: 120%

.CodeMirror-scroll
  height: 100%
  
.CodeMirror-gutter
  background-color: #eee



