border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments

#code
  display inline-block
  padding: 2px 5px
  font-family: Ubuntu, sans-serif
  background: black
  color: #eee
  border-radius: 2px

.CodeMirror
  font-family: Ubuntu, sans-serif

form input
  padding: 5px
  border: 1px solid
  border-radius: 5px




