border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments

*
  margin: 0
  padding: 0
  border: 0

body
  font-family: Ubuntu, sans-serif
  background-color: #404040
  color: #ccc
  overflow: hidden


.CodeMirror
  min-width: 300px
  color: #ccc
  font-family: Ubuntu Mono, sans-serif
  font-style: normal
  font-size: 150%
  letter-spacing: 0px
  background-color: rgba(15, 15, 15, 0.55)
  border-radius: 3px
  border: none

  //box-shadow: 0 0 15px #111

.CodeMirror-scroll
  height: 100%

.CodeMirror-gutter
  background-color: transparent
  font-family: Ubuntu, sans-serif
  border-right: 5px solid #333

.CodeMirror pre.CodeMirror-cursor
  border-left: 10px solid #eee



